name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'examples'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'examples'
      - 'README.md'

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Build and test
        run: mvn clean install -DallTests -Pdist
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: surefire-reports
          path: '**/surefire-reports/*.txt'
